body{
    color: cyan;
    text-align: center;
    font-family: "Arial";
    background-color: #181818;
}

#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid white;
    margin: 0 auto;
}

#container h1{
    font-size: 20px;
}